<%= form_for @answer, :url => { :action => "process_vote", :poll => @poll } do |f| %>

	<% @poll.answer_possibilities.each do |answer_posibility| %>
		<div class="field">
			<p><%= f.label( answer_posibility.value) %>
			<%= f.radio_button :id, answer_posibility.id %></p>			
		</div>			
	<% end %>

	<div class="actions">
	<%= f.submit "Speichern" %> 
	</div>
<% end %>