= form_for @answer, :url => { :action => "process_single_vote", :poll => @poll } do |f| 

  - @poll.answer_possibilities.each do |answer_possibility| 
	 .field
			%p
        = f.label( answer_possibility.value) 
			%p
        = f.radio_button :id, answer_possibility.id 

.actions
	= f.submit "Abstimmen" 
	