<%= form_for @answer, :url => { :action => "process_single_vote", :poll => @poll } do |f| %>

	<% @poll.answer_possibilities.each do |answer_possibility| %>
		<div class="field">
			<p><%= f.label( answer_possibility.value) %>
			<%= f.radio_button :id, answer_possibility.id %></p>			
		</div>			
	<% end %>

	<div class="actions">
	<%= f.submit "Abstimmen" %> 
	</div>
<% end %>