// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #00397c
$dark: #1c1c1c
$gray: #d7d6d5

.clear
  clear: both

body
  background: url(image_path('subtle_stripes.png'))
  font-family: arial, helvetica, sans-serif
  font-size: 12pt
  color: $dark

input
  border: none
  padding: 3px
  height: 23px

label
  margin: 5px 0px

input[type="submit"]
  background: $blue
  color: white
  padding: 5px

h1,h2,h3,h4
  font-weight: bold
  margin: 10px 0px

h1
  font-size: 19pt
  color: $blue

h2
  font-size: 17pt
  color: $blue

h3
  font-size: 15pt

h4
  font-size: 13pt

a
  color: $dark

  &:visited
    color: $dark

// STUB 
#wrapper
  width: 1000px
  margin: auto

#header
  margin-bottom: 30px

.logo
  float: left


.menu
  float: right
  ul
    list-style: none
  li
    float: left
    padding: 10px
    margin-right: 30px
    background: url(image_path('white.png'))
  li:last-child
    margin-right: 0px
  a 
    color: $blue
    text-decoration: none

#content
  background:  url(image_path('white.png'))
  padding: 10px
  padding-bottom: 30px



/* USE FUL */

.box 
  border-top: 1px solid black

.grayBox
  background: $gray
  padding: 20px


.formtastic
  li
    
  label
    display: block
    float: left
    width: 200px
  input
    display: block
    float: left
    width: 400px
  select
    display: block
    float: left

  select,input,option
    background: $gray