// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #00397c
$dark: #252326

.clear
  clear: both

body
  background: url(image_path('subtle_stripes.png'))

input
  border: none
  padding: 3px
  



// STUB 
#wrapper
  width: 1000px
  margin: auto

#header
  margin-bottom: 30px

.logo
  float: left


.menu
  float: right
  ul
    list-style: none
  li
    float: left
    padding: 10px
    margin-right: 30px
    background: url(image_path('white.png'))
  a 
    color: $blue
    text-decoration: none

.box 
  border-top: 1px solid black


#content
  background:  url(image_path('white.png'))
  padding: 10px
  padding-bottom: 30px
