// Place all the styles related to the poll controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title_left 
  float: left


.icon_button
  float: left
  background: $gray
  padding: 7px
  display: block
  text-decoration: none
  color: white

  img
    height: 15px


.table_cell
  float: left
  margin-right: 30px

.table_cell:last-child
  margin-right: 0px


.new_poll
  float: left
  margin-left: 30px

.poll_preview

.poll_preview_question
  @extend .table_cell
  width: 250px

.poll_preview_exp_date
  @extend .table_cell
  width: 100px


.poll_preview_chart_type
  @extend .table_cell
  width: 70px

.poll_index_actions
  list-style: none
  float: right

  li
    float: left
    padding: 0
    margin: 0
    margin-right: 20px
    &:last-child
      margin-right: 0px


